*.o
*.axf
*.crf
*.d
*.s
*.hex
*.htm
*.dep
cantest/MDK-ARM/JLinkLog.txt
*.Lonsdor
*.map
*.TMP
*.map
cantest/.vscode
*.lnp
cantest/MDK-ARM/.vscode
cantest/MDK-ARM/cantest
cantest/.codemap
Drivers/CMSIS
*.bin
*.exe
Drivers/STM32G0xx_HAL_Driver
